<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SqlServer"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBlocadoraVeiculos;Integrated Security=True;Pooling=False" />
	</connectionStrings>

	<appSettings>
		<add key ="currentDatabase" value="SqlServer"/>
		<add key="gasolina" value="5"/>
		<add key="etanol" value="4"/>
		<add key="diesel" value="3"/>
		<add key="gnv" value="3"/>
	</appSettings>

</configuration>