@{
    ViewData["Title"] = "Home Page";
}

<div class="index-container">
    <i class="fas fa-car car-icon"></i>
    <h1 class="display-4">A Locadora Rech lhe deseja boas vindas!</h1>
    <h3>Nós podemos lhe oferecer uma variedade enorme de veículos e planos! Para saber mais, clique no botão abaixo:</h3>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Saber mais</a>
    </p>
</div>
