<log4net>
	<root>
		<appender-ref ref="DebugAppender" />
		<appender-ref ref="SeqAppender" />
		<appender-ref ref="file" />
	</root>
	<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
		<threshold value="Info" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline%exception" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<threshold value="Info" />
		<file value="info.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="1MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline%exception%stacktracedetail%newline" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<threshold value="Warn" />
		<file value="error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="1MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline%exception%stacktracedetail%newline" />
		</layout>
	</appender>
	<appender name="SeqAppender" type="Seq.Client.Log4Net.SeqAppender, Seq.Client.Log4Net" >
		<threshold value="Error" />
		<bufferSize value="1" />
		<serverUrl value="http://20.195.229.236:5341" />
		<apiKey value="" />
	</appender>
</log4net>